<!-- Card -->
<mdb-card class="espas-anle">
  <div class="view rgba-white-slight waves-light" mdbWavesEffect>
    <!-- Card img -->
    <mdb-card-img src="../assets/depatman-yo.png" alt="Depatman"></mdb-card-img>
    <a>
      <div class="mask"></div>
    </a>
  </div>
  <!--Card content-->
  <mdb-card-body>
    <!--Title-->
    <mdb-card-title>
      <h4>{{non}}</h4>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text> Ale nan depatman an</mdb-card-text>

    <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
  </mdb-card-body>
</mdb-card>
<!-- Card -->
